* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Inter", sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #12023b, #070447, rgb(7, 7, 102));
    background-size: cover;
    background-position: center;
    padding: 1rem;
}

h1,
h2,
h3 {
    color: #fff;
    font-weight: 700;
    line-height: 1.3;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 1.875rem;
}

p {
    font-size: 1rem;
    padding: 1em;
}

label {
    display: flex;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
    background-color: transparent;
}

.button,
.btn-enviar,
.planilha-upload-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    width: 100%;
    max-width: 300px;
    border: none;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-enviar {
    background: linear-gradient(to right, #4ade80, #3b82f6);
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-enviar:hover {
    background: linear-gradient(to right, #22c55e, #2563eb);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.planilha-upload-button {
    background-color: #3490dc;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.button:hover,
.planilha-upload-button:hover {
    background-color: #45a049;
}

.cta-button {
    background-color: #00b842;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 3rem;
}

.cta-button:hover {
    background-color: #00802a;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card {
    background-color: #142a4d;
    border-radius: 8px;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

iframe {
    width: 100%;
    height: 340px;
    border: none;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

input,
textarea,
input[type="file"],
button {
    padding: 12px;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    outline: none;
}

input,
textarea,
input[type="file"] {
    background-color: #f5f5f5;
    color: #000;
}

.form-controle {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db;
    color: #0e3169;
    transition: border-color 0.2s ease-in-out;
    font-size: 1.1rem;
}

.form-controle:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
}

.planilha-controle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.planilha-nome {
    font-size: 0.8rem;
    color: #fff;
}

.container-planilha {
    max-width: 800px;
    margin: auto;
}

.feedback {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.375rem;
    text-align: center;
    font-weight: 600;
}

.feedback-sucesso {
    background-color: #f0fdf4;
    color: #15803d;
    border: 1px solid #16a34a;
}

.feedback-erro {
    background-color: #fef2f2;
    color: #b91c1c;
    border: 1px solid #dc2626;
}

.gradient-text-titulo,
.gradient-text-subtitulo {
    font-weight: 600;
    text-align: center;
}

.gradient-text-titulo {
    font-size: 3rem;
}

.gradient-text-subtitulo {
    font-size: 2rem;
}

.titulo-video,
.text-titulo {
    text-align: center;
    font-weight: 600;
    width: 100%;
}

.text-titulo {
    font-size: 2.53rem;
}

.space-y-4>*+* {
    margin-top: 1rem;
}

.hidden {
    display: none;
}

.selecionado-verde {
    color: #00802a;
}

.nao-selecionado-vermelho {
    color: #e21313;
}

/* Responsividade */

@media (min-width: 600px) {
    .gradient-text-titulo {
        font-size: 1rem;
    }

    .gradient-text-subtitulo,
    .text-titulo {
        font-size: 1rem;
    }

    .container {
        flex-direction: column;
        background-color: rgb(55, 37, 195);
    }

    .card {
        width: 90%;
    }

    .button,
    .btn-enviar,
    .planilha-upload-button {
        width: 90%;
        font-size: 0.95rem;
    }

    .ajuste-esquerda {
        margin-left: -50px;
    }

    .ajuste-esquerda-1 {
        margin-left: 1px;
    }

    .ajuste-esquerda-10 {
        margin-left: 10px;
    }
}